<section>
  <h1>Open source projects</h1>
  <ul id="goodies">
    <li>
      <a href="http://heartcode.robertpataki.com/canvasloader" target="_blank">
        <span class="goodies-label">CanvasLoader Creator</span>
        <img alt="Heartcode CanvasLoader Creator"  src="/images/open_source/heartcode-canvasloader-creator.png" />
      </a>
      </li>
    <li>
      <a href="http://heartcode.robertpataki.com/360-image-slider" target="_blank">
        <span class="goodies-label">360 Image Slider</span>
        <img alt="Heartcode 360 Image Slider Demo"  src="/images/open_source/heartcode-360-image-slider-demo.png" />
      </a>
    </li>
  </ul>
  <a href="http://github.com/heartcode">More open source projects&#8230;</a>
</section>